.master-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  border: 30px solid #ee4545;
  border-radius: 4%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 675px;
  height: 545px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  gap: 1rem;
  background-color: black;
  border: 2px solid black;
}

button {
  padding: 2.5rem;
  border: 0;
  display: flex;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  transition: all 0.3s;
}

button:active {
  scale: 0.9;
}

.fact-box {
  max-width: 100px;
}

.grid-el {
  background-color: rgb(235, 235, 235);
  border: 0.2px solid rgb(207, 206, 206, 0.4);
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
}


p {
  font-size: 15px;
}

.fact-box {
  max-width: 981px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 2rem;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#erase {
  font-size: 2rem;
  padding: 1.5rem;
}

#random {
  background: linear-gradient(
    to right,
    #ff5733 0%,
    #ff5733 16.67%,
    #ffc300 16.67%,
    #ffc300 33.33%,
    #c70039 33.33%,
    #c70039 50%,
    #900c3f 50%,
    #900c3f 66.67%,
    #581845 66.67%,
    #581845 83.33%,
    #2274a5 83.33%,
    #2274a5 100%
  );
}

.grid-el {
  /* border: 0.5px solid rgb(207, 207, 207); */
  border-bottom: 0;
}

.controls {
  position: absolute;
  bottom: -125px;
  height: 118px;
  left: 14px;
  width: 640px;
  background-color: #ee4545;
  border-radius: 10px;
}

.left-nob,
.right-nob {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 49%, rgba(255,255,255,1) 100%);
}

.left-nob {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 5rem;
  top: 1rem;
}


.right-nob {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 5rem;
  top: 1rem;
}


